:root {
    --color3: #332317;
    --color1: #A77C5D;
    --color2: #F4E8DE;
    --main-background-color: #EDDACA;
    --header-background-color: #A77C5D;
}
body {
    font-family: "Roboto";
    font-weight: 400;
    background-color: var(--color2);
} 
.container {
    max-width: 768px;
    margin: 0 auto;
    min-width: 320px;
}
.header {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: var(--header-background-color);
    box-shadow: 0 6px 5px 1px rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
}
.header__arrow {
    padding: 12px;
}
.header__text {
    font-weight: 400;
    font-size: 24px;
}
.main {
    margin-top: 24px;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 12px;
}
.form__style {
    font-size: 16px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 16px;
    background-color: var(--color2);
    display: flex;
    align-items: center;
}
.form__select {
    font-size: 16px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 16px;
    background-color: var(--color2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/icon/arrow\ drop_down.svg);
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
}
.form__select._color {
    background-color: var(--color2);
}
input::placeholder {
    color: var(--color3);
}
.form__style._icon {
    background: url(/icon/Calendar.svg);
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
}