:root {
    --color3: #332317;
    --color1: #A77C5D;
    --color2: #F4E8DE;
    --main-background-color: #EDDACA;
    --header-background-color: #A77C5D;
}
body {
    font-family: "Roboto";
    font-weight: 400;
    background-color: var(--color2);
} 
.container {
    max-width: 768px;
    margin: 0 auto;
}
.update {
    font-size: 24px;
    font-weight: 400;
    border-bottom: solid 1px var(--color1);
    padding: 16px;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 24px 12px;
}
.form__style {
    font-size: 16px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 16px;
    background-color: var(--color2);
    display: flex;
    align-items: center;
}
.form__select {
    font-size: 16px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 16px;
    background-color: var(--color2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/icon/arrow\ drop_down.svg);
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
}
.form__select._color {
    background-color: var(--color2);
}
input::placeholder {
    color: var(--color3);
}
.button {
    border-top: solid 1px var(--color1);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.button__style {
    cursor: pointer;
    font-size: 16px;
    padding: 12px 36px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    background-color: var(--color1);
}
.button__style._cancel {
    background-color: var(--color2);
}