.header {
    height: 167px; 
    width: 100%;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    height: 44px;
    width: 1219px; 
    margin: 45px 190px 0 190px;
}

.menu__logo {
    width: 41px;
    height: 41px;
}

.menu__list {
    list-style-type: none;
    display: flex;
}

.menu__item_active {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin: 0 40px 0 0;
}

.menu__item_inactive {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #B8BECD;;
    text-decoration: none;
    margin: 0 40px 0 0;
}

.menu__item_login {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    text-decoration: none;
    height: 44px;
    width: 132px;
    padding: 14px 47px;
    margin: 0 18px 0 0;
}

.menu__item_register {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background: #FB8F1D;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    height: 44px;
    width: 132px;
    padding: 16px 37px;
}
.main {
    height: 167px; 
    width: 100%;
}  
.first-block {
    display: flex;
}
.first-block-content {
    display: flex;
    flex-direction: column;
    width: 617px;
    height: 654px;
}
.first-block-content__text1 {

    font-family: 'Playfair', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    
    color: #202336;

    width: 356px;
    height: 160px;
    margin: 0 0 87px 189px;
}
.first-block-content__text2 {

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;

color: #202336;

margin: 0 0 21px 191px;
}
.line {
    width: 32px;
    height: 2px;
    border-top: 2px solid black;
    margin: 0 0 48px 191px;
}
.form__container {
    display: flex;
}
.form__container {
    display: flex;
    flex-wrap: wrap;

}
.form__location {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    color: #4A4C53;
    text-decoration: none;
    height: 52px;
    width: 220px;
    margin: 20px 30px 35px 190px;
    padding: 10px 0 10px 30px;
}
.form__activity {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    color: #4A4C53;
    text-decoration: none;
    height: 52px;
    width: 220px;
    margin: 20px 0 0 441px;
    padding: 10px 0 10px 30px;

}
.form__grade {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    color: #4A4C53;
    text-decoration: none;
    height: 52px;
    width: 220px;
    margin: 20px 30px 35px 190px;
    padding: 10px 0 10px 30px;

}
.form__date {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    color: #4A4C53;
    text-decoration: none;
    height: 52px;
    width: 220px;
    margin: 130px 0 0 441px;
    padding: 10px 0 10px 30px;
color: #4A4C53;

}
.form__explore {
    width: 180px;
    height: 52px;
    margin: 20px 0 0 190px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    background: #FB8F1D;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;

}
.illustration {
    display: flex;
    height: 654px;
    width: 687px; 
    margin: 47px 105px 0 850px;

    position: absolute;
}
.second-block {
    display: flex;
}
.second-block-content {
    display: flex;
    flex-direction: column;
    width: 617px;
    height: 654px;
}
.second-block-content__text1 {
    position: absolute;
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;

width: 481px;
height: 100px;
margin: 382px 0 0 802px;

color: #000000;
}
.second-block-content__text2 {
    position: absolute;
    font-family: 'Muli', serif;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 30px;

width: 450px;
height: 120px;
margin: 502px 0 0 802px;

color: #7D7987;
}
.second-block-content__illustration2 {
    display: flex;
    height: 659px;
    width: 534px; 
    margin: 333px 0 0 141px; 
}
.second-block-content__logo {
    width: 19.96px;
    height: 20px;
    margin: 0 0 0 1200px;
}
.Learn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
    background: #FB8F1D;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    height: 48px;
    width: 164px;
    padding: 16px 37px;
    margin: 0 0 0 802px;
}
.third-block {
    display: flex;
}
.third-block-content {
    display: flex;
    flex-direction: column;
    width: 617px;
    height: 654px;
}
.third-block-content__logo {
    width: 19.96px;
    height: 20px;
    margin: 414px 0 0 1169px;
}
.third-block-content__text1 {
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
width: 481px;
height: 50px;
margin: 10px 0 0 240px;

color: #000000;
}
.third-block-content__text2 {
    position: absolute;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 60px;
width: 64px;
height: 60px;
margin: 430px 0 0 1281px;

color: #FB8F1D;
}
.third-block-content__photo1 {
display: flex;
width: 300px;
height: 500px;
margin: 50px 0 0 240px;
}